.angular-google-map-container {
  height: 400px;
  width: 100%;
  margin: 10px 0 10px 0;
}

.filters {
  padding: 5px;
  border: 1px solid #aaa;
}

.marker-info p {
  margin: 0 0 3px 3px;
}

.marker-info hr {
  margin: 2px 0;
}