<div class="filters row">
  <div class="col-md-6" ng-repeat="band in bands">
    <p>{{band.band}}</p>
    <input type="checkbox" ng-model="band.selected">
  </div>

  <div class="col-md-6" ng-repeat="cont in continents">

    <p>{{cont.cont}}
    <input type="checkbox" ng-model="cont.selected">
  </div>
</div>

<google-map center="map.center" zoom="map.zoom" draggable="true">
  <marker ng-repeat="skimmer in skimmers | withBands:bands | withConts:continents"
          coords="skimmer.latLong"
          icon="'images/GreenDot.gif'">

    <window coords="skimmer.latLong">
      <div class="marker-info">
        <p>Callsign: <strong>{{skimmer.call}}</strong> / Grid: <strong>{{skimmer.grid}}</strong></p>
        <p>Bands: <strong>{{skimmer.formattedBand}}</strong></p>

        <hr>

        <p>Status: <strong>{{skimmer.lst_age}}</strong></p>
        <p>on RBN since: <strong>{{skimmer.fst_age}}</strong></p>

        <hr>

        <p>Skimmer version: <strong>{{skimmer.sk_ver}}</strong></p>
        <p>Aggregator version: <strong>{{skimmer.ag_ver}}</strong></p>
        <p>{{skimmer.sk_opt}}</p>
      </div>
    </window>
  </marker>

</google-map>

<div ng-repeat="skimmer in skimmers | withBands:bands | withConts:continents" class="row">
  <div class="col-md-2">
    {{skimmer.call}}
  </div>

  <div class="col-md-2">
    {{skimmer.grid}}
  </div>

  <div class="col-md-2">
    {{skimmer.cont}}
  </div>

  <div class="col-md-2">
    {{skimmer.fst_age}}
  </div>

  <div class="col-md-2">
    {{skimmer.lst_age}}
  </div>

  <div class="col-md-2">
    {{skimmer.band_m}}
  </div>
</div>
